.columns > div {
  display: flex;
  flex-direction: column;
  
}

.columns  h1 {
  font-size: 30px;
  font-family: Roboto, sans-serif;
}

.columns h3 {
  font-size: 15px;
  font-family: Roboto, sans-serif;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
